<Project>
  <PropertyGroup>
    <PublishProfile>DefaultContainer</PublishProfile>
    <ContainerRepository>microservice-movies</ContainerRepository>
    <ContainerImageTag>1.0.0</ContainerImageTag>
    <ContainerPublishMethod>Build</ContainerPublishMethod>
    <ContainerRegistry>quay.io</ContainerRegistry>
  </PropertyGroup>
</Project>